﻿@model Marcomm.ViewModel.ProductViewModel
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.isDelete)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(x => x.code, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.code, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.name, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.name, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.description, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.description, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.createdBy, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.createdBy, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.createdDate, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.createdDate, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.updateBy, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.updateDate, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <a id="btn-cancel" class="btn btn-warning btn-sm">Close</a>
            </div>
        </div>
    </div>
}
