﻿@model IEnumerable<Marcomm.ViewModel.ProductViewModel>

<div class="box box-primary box-solid">
    <div class="box-header">
        <div class="box-title">List Data</div>
    </div>
    <div class="box-body">
        <ol class="breadcrumb">
            <li>Home</li>
            <li>Master</li>
            <li>Product</li>
        </ol>
        <table class="table table-responsive table-striped" id="list-role">
            <thead id="tb-input">
                <tr>
                    <td colspan="6">
                        <div id="AlertResponse">

                        </div>
                    </td>
                    <td><button class="btn btn-primary btn-sm" id="btn-add">Add</button></td>
                </tr>
                <tr>
                    <td colspan="2">@Html.TextBox("code", null, new { @class = "form-control column_filter", @id = "col1_filter", @data = "1" })</td>
                    <td>@Html.TextBox("name", null, new { @class = "form-control column_filter", @id = "col2_filter", @data = "2" })</td>
                    <td>@Html.TextBox("description", null, new { @class = "form-control column_filter", @id = "col3_filter", @data = "3" })</td>
                    <td>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="datepicker form-control form-control-file" id="col4_filter" data="4" />
                        </div>
                    </td>
                    <td>@Html.TextBox("createdBy", null, new { @class = "form-control column_filter", @id = "col5_filter", @data = "4" })</td>
                    <td><button class="btn btn-success btn-sm" id="btn-search">Search</button></td>
                </tr>
                <tr>
                    <td>No</td>
                    <td>@Html.DisplayNameFor(x => x.code)</td>
                    <td>@Html.DisplayNameFor(x => x.name)</td>
                    <td>@Html.DisplayNameFor(x => x.description)</td>
                    <td>@Html.DisplayNameFor(x => x.createdDate)</td>
                    <td>@Html.DisplayNameFor(x => x.createdBy)</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody id="list-data">
                @Html.Partial("List", Model)
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-input">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="box box-body">
                <div class="box box-primary box-solid">
                    <div class="box-header">
                        <h3 class="box-title" id="modal-title">Modal Header</h3>
                    </div>
                    <div class="modal-body" id="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>

        //scrip untuk bagian footer
        $(document).ready(function () {
            $("#list-role").DataTable({
                'sDom': 'tip',
                ordering: false
            });
            $("#tb-input").find(".column_filter").on("keyup click", function () {
                filtercolumn($(this).attr("data-column"));
            });
        });


        function filtercolumn(i) {
            $("#list-role").DataTable().column(i).search(
                $("#col" + i + "_filter").val()
                ).draw();
        };

        //scrip pada button search
        $("#btn-search").click(function () {
            $("#tb-input .form-control").each(function () {
                filtercolumn($(this).attr('data'));
            });
        });

        //scrip pada bagian seacrh tanggal
        $("#tb-input").find(".datepicker").datepicker({
            Format: "MM/dd/yyyy",
            autoclose: true
        });

        function loadData() {
            $.ajax({
                url: "@Url.Action("List","Product")",
                type: "get",
                dataType: "html",
                success: function (hasil) {
                    $("#list-data").html(hasil);
                }
            });
        };


        //GET ADD
        $("#btn-add").click(function () {
            $.ajax({
                url: "@Url.Action("Add","Product")",
                type: "get",
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Add Product");
                    $("#modal-input").modal('show');
                }
            });
        });

        //GET Edit data
        $("#list-data").on("click", "#btn-edit", function () {
            var id = $(this).val();
            $.ajax({
                url:"@Url.Action("AmbilData")",
                type:"get",
                datatype:"json",
                data: {id:id},
                success : function(x){
                    if(x.success == true){
                        var nama = x.data.name;
                        var code = x.data.code;
                        $.ajax({
                            url:"@Url.Action("Edit")",
                            type:"get",
                            datatype:"html",
                            data:{id:id},
                            success : function(x){
                                $("#modal-body").html(x);
                                $("#modal-title").html("Edit Product " + nama + " (" + code +" )");
                                $("#modal-input").modal('show');
                            }

                        })
                    }

                }

            });
        });

        @*//get delet
        $("#list-data").on("click", "#btn-delete", function () {
            var dataid = $(this).val();

            $.ajax({
                url: "@url.action("delete","product")",
                type: "get",
                data: { id: dataid },
                datatype: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("delete data ?");
                    $("#modal-input").modal('show');
                }
            });
        });*@

        $("#list-data").on("click", "#btn-delete", function () {
            var Id = $(this).val()
            $.ajax({
                url: "@Url.Action("AmbilData")",
                type: "get",
                datatype: "json",
                data: { id: Id },
                success: function (x) {
                    Swal({
                        title: 'Delete ' + x.data.name + ' (' + x.data.code + ')?',
                        text: 'Are you sure?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            $.ajax({
                        url: '/Product/Delete/' + Id,
                    type: 'get',
                    dataType: 'json',
                    success: function (x) {
                        if (x.success == true) {
                            swal(
                                'Deleted!',
                                'Product has been deleted.',
                                'success'
                            );
                        }
                        loadData();
                    }
                });
        }
        else if (result.dismiss === swal.DismissReason.cancel) {
            Swal(
              'Cancelled',
              'Your imaginary file is safe :)',
              'warning'
            );
        }
        })
        }
        });
        });

        //GET Detail
        $("#list-data").on("click","#btn-view", function(){
            var id = $(this).val();
            $.ajax({
                url: "@Url.Action("AmbilData")",
                type: "get",
                datatype: "json",
                data: {id: id},
                success: function(x){
                    var nama = x.data.name;
                    var code = x.data.code;
                    $.ajax({
                        url: "@Url.Action("Detail")",
                        type: "get",
                        datatype: "json",
                        data: {id:id},
                        success: function(hasil){
                            $("#modal-body").html(hasil);
                            $("#modal-title").html("Data detail " + nama + " (" + code + " )");
                            $("#modal-input").modal('show');
                        }
                    })
                }
            });
        });


        @*$("#list-data").on("click", "#btn-view", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Detail", "Product")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Data Detail");
                    $("#modal-input").modal('show');
                }
            });
        });*@

        //Proses POST
        $("#modal-input").on("submit", "form", function () {
            var dataUrl = $(this).attr("action");
            var dataMethod = $(this).attr("method");
            var dataItem = $(this).serialize();
            $.ajax({
                url: dataUrl,
                type: dataMethod,
                data: dataItem,
                dataType: "json",
                success: function (hasil) {
                    if (hasil.success == true) {
                        $("#modal-input").modal('hide');
                        loadData();
                        var response = '<div class="alert alert-' + hasil.alertType + ' alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>' + hasil.alertStrong + '</strong> ' + hasil.alertMessage + '.</div>';
                        $('#AlertResponse').hide().html(response).fadeIn(1500);
                        $('.alert').delay(5000).fadeOut('normal', function () {
                            $(this).remove();
                        });
                    } else if (hasil.success== false)
                    {
                        swal({
                            title: 'Your Data Has been Created',
                            animation: true,
                            customClass: 'animated tada'
                        })
                    }
                }
            });
            return false;
        });

        //untuk anction cancel
        $("#modal-input").on("click", "#btn-cancel", function () {
            $("#modal-input").modal('hide');
        });
    </script>
}