﻿@model IEnumerable<Marcomm.ViewModel.ProductViewModel>
@{
    ViewBag.Title = "List";
}

@{
    int i = 0;
}
@foreach (var item in Model)
{
    i = i + 1;
    <tr>
        <td>@i.</td>
        <td>@item.code</td>
        <td>@item.name</td>
        <td>@item.description</td>
        <td>@item.createdDate</td>
        <td>@item.createdBy</td>
        <td>
            <button class="btn btn-success btn-xs" id="btn-view" value="@item.id">
                <i class="fa fa-eye"></i>
            </button>

            <button class="btn btn-warning btn-xs" id="btn-edit" value="@item.id">
                <i class="fa fa-pencil"></i>
            </button>

            <button class="btn btn-danger btn-xs" id="btn-delete" value="@item.id">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
}