﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.ContentHeader
                    <small>@ViewBag.Title</small>
                </h1>

                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>@ViewBag.Route</a></li>
                    <li class="active">@ViewBag.Action</li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        @RenderBody()
                    </div>
                </div>
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                All rights reserved.
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year BATCH 171.</strong>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")

    @section Scripts {
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>
    }

    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {
            $('[data-mask]').inputmask();
            $('.select2').select2();
        })

        $(document).ready(function () {
            $(".box-body").find(".col-md-2").css("padding-right", "unset");
            $('.datatable').DataTable({
                'sDom': 'tip',
                autoWidth: true
            });
            $('#created_date').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true
            });
        });

        $(document).ready(function () {

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
