﻿<aside class="main-sidebar ">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@User.Identity.Name</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">@ViewBag.asd</li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Master</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @*@if (Session["MenuMaster"] != null)
                    {
                        var MenuMaster = (List<MiniProject.ViewModel.MenuDynamicVM>)Session["MenuMaster"];
                        var GroubMenu = MenuMaster.GroupBy(x => x.ControllerName).ToList();

                        foreach (var MenuItem in MenuMaster)
                        {
                            <li>
                                <a href="@Url.Action(MenuItem.ActionName, MenuItem.ControllerName)"><i class="fa fa-home"></i> <span>@MenuItem.MainMenuName</span></a>
                            </li>
                        }
                    }*@

                    @*
                            <li>
                            <a href="@Url.Action("Index","MCompany")">
                                <i class="fa fa-home"></i> <span>Company</span>
                            </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Index","MCompany")">
                                    <i class="fa fa-home"></i> <span>Company</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","MEmployee")">
                                    <i class="fa fa-shopping-bag"></i> <span>Employee</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","MRole")">
                                    <i class="fa fa-shopping-bag"></i> <span>Role</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","MMenu")">
                                    <i class="fa fa-home"></i> <span>Menu</span>
                                </a>
                            </li>
                            <li>
                            <li>
                                <a href="@Url.Action("Index","MUnit")">
                                    <i class="fa fa-home"></i> <span>Unit</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","MSouvenir")">
                                    <i class="fa fa-home"></i> <span>Souvenir</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","MProduct")">
                                    <i class="fa fa-shopping-bag"></i> <span>Product</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","MMenuAccess")">
                                    <i class="fa fa-shopping-bag"></i> <span>Menu Acces</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","MUser")">
                                    <i class="fa fa-shopping-bag"></i> <span>User</span>
                                </a>
                            </li>*@
                </ul>
            </li>


            @*-------------------------TRANSAKSI-----------------------------------*@
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Transaksi</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Souvenir</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("Index","TSouvenir")">
                                    <i class="fa fa-shopping-bag"></i> <span>Transaksi Souvenir</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","TSouvenirItem")">
                                    <i class="fa fa-shopping-bag"></i> <span>Transaksi Souvenir Item</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Design</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("Index","TDesign")">
                                    <i class="fa fa-shopping-bag"></i> <span>Transaksi Design</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","TDesignItem")">
                                    <i class="fa fa-shopping-bag"></i> <span>Transaksi Design Item</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","TDesignItemFile")">
                                    <i class="fa fa-shopping-bag"></i> <span>Transaksi Design Item File</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
