﻿@model Marcomm.ViewModel.CompanyViewModel
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.isDelete, new { Value = false })
    @Html.HiddenFor(x => x.createdBy, new { Value = "Admin" })
    @Html.HiddenFor(x => x.id)
    <div class="form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.code, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.code, new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.code, null, new { @class = "text-danger" })

                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(x => x.email, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.email, new { @class = "form-control"})
                    @Html.ValidationMessageFor(x => x.email, null, new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.phone, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.phone, null, new { @class = "text-danger" })

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.name, null, new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.address, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.address, null, new { @class = "text-danger" })

                </div>
            </div>

        </div>



        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                <a id="btn-cancel" class="btn btn-warning btn-sm">Cancel</a>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")

