﻿@model Marcomm.ViewModel.UnitViewModel
@{
    ViewBag.Title = "Delete";
}

<div class="box box-primary box-solid">
    <div class="box-header">
        <div class="box-title"><strong>Delete Unit</strong></div>
    </div>
    <div class="box-body">
        <table>
            <tr>
                <td>
                    @using (Html.BeginForm())
            {
                        @Html.HiddenFor(x => x.id)
                        @Html.HiddenFor(x => x.code)
                        <button class="btn btn-danger btn-sm">Hapus</button>
                    }
                </td>
                <td>@Html.ActionLink("Batal", "Index", null, new { @class = "btn btn-primary btn-sm" })</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>