﻿@model Marcomm.ViewModel.MenuAccessViewModel
@{
    ViewBag.Title = "Add";
}
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.DisplayNameFor(x => x.roleCode)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.mRoleId, (IEnumerable<SelectListItem>)ViewBag.ListRole, "-Select Role-", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.roleCode, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.DisplayNameFor(x => x.menuAccess)
            </div>
            <div class="col-md-10">
                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListMenu)
                {
                    <input type="checkbox" name="ListMenuID" value="@item.Value" />@item.Text<br />
                }
            </div>
        </div>
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-sm" })
            </div>
        </div>

    </div>
}