﻿@model Marcomm.ViewModel.MenuAccessViewModel
@{
    ViewBag.Title = "Delete";
}
<table>
    <tr>
        <td width="3">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.mRoleId)
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            }
        </td>
        <td>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-sm" })
        </td>
    </tr>
</table>


