﻿@model Marcomm.ViewModel.MenuAccessViewModel
@{
    ViewBag.Title = "Detail";
}
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.DisplayNameFor(x => x.roleCode)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.mRoleId, (IEnumerable<SelectListItem>)ViewBag.ListRole, "-Select Role-", new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(x => x.roleCode, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.DisplayNameFor(x => x.menuAccess)
            </div>
            <div class="col-md-10">
                @{ int i = 1;}
                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ListMenu)
                {
                    <input type="checkbox" name="ListMenuId" value="@item.Value" id="@i" disabled="disabled" />@item.Text<br />
                    i++;
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-sm" })
            </div>
        </div>


    </div>
                    }