﻿@model IEnumerable<Marcomm.ViewModel.RoleViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table" id="tblsrc">
    <thead id="tb-input">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-primary btn-sm" id="btn-add">Add</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.TextBox("Rolecode", null, new { @class = "form-control column_filter", @id = "col1_filter", @data = "1" })</td>
            <td>@Html.TextBox("Name", null, new { @class = "form-control column_filter", @id = "col2_filter", @data = "2" })</td>
            <td id="datte">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="datepicker form-control column-filter" id="col3_filter" data="3" />
                </div>
            </td>
            <td>@Html.TextBox("Name", null, new { @class = "form-control column_filter", @id = "col4_filter", @data = "4" })</td>
            <td>
                <button class="btn btn-warning btn-sm" id="btn-src">Search</button>
            </td>
        </tr>
        <tr>
            <th>No</th>
            <th>@Html.DisplayNameFor(x => x.code)</th>
            <th>@Html.DisplayNameFor(x => x.name)</th>
            <th>@Html.DisplayNameFor(x => x.createdDate)</th>
            <th>@Html.DisplayNameFor(x => x.createdBy)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="list-data">
        @Html.Partial("List", Model)
    </tbody>
</table>

<div class="modal fade" id="modal-input">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modal-title">Modal Header</h3>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#tblsrc").dataTable({
                'paging': true,
                'lengthChange': false,
                'sDom':'tip',
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });

        });

        $("#datte").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        })

        function filtercolumn(i) {
            $("#tblsrc").DataTable().column(i).search(
                $("#col" + i + "_filter").val()
                ).draw();
        };

        $("#btn-src").click(function () {
            $("#tb-input .form-control").each(function () {
                filtercolumn($(this).attr('data'));
            });
        });



        function loadData() {
            $.ajax({
                url: "@Url.Action("List","MenuAccess")",
                type: "get",
                dataType: "html",
                success: function (hasil) {
                    $("#list-data").html(hasil);
                }
            });
        }

        $("#btn-add").click(function () {
            $.ajax({
                url: "@Url.Action("Add","MenuAccess")",
                type: "get",
                dataType: "html",
                success: function (Hasil) {
                    $("#modal-body").html(Hasil);
                    $("#modal-title").html("Add Menu Access");
                    $("#modal-input").modal('show');
                }
            })
        })
        //cancel
        $("#modal-input").on("submit", "form", function () {
            $("#modal-input").modal('hide');
        })
        //untuk submit data
        $("#modal-input").on("submit", "form", function () {
            var dataURL = $(this).attr("action");
            var dataMethod = $(this).attr("method");
            var dataItem = $(this).serialize();
            $.ajax({
                url: dataURL,
                type: dataMethod,
                data: dataItem,
                dataType: "json",
                success: function (hasil) {
                    if (hasil.success) {
                        loadData();
                        $("#modal-input").modal('hide');
                    }
                    else {
                        $("#modal-body").html(hasil);
                    }
                }
            });
            return false;
        });

        //Edit Data (get)
        $("#list-data").on("click", "#btn-edit", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Edit","MenuAccess")",
                type: "get",
                dataType: "html",
                data: { id: dataId },
                success: function (hasil) {
                    $.ajax({
                        url: "@Url.Action("cariId", "MenuAccess")",
                        type: "get",
                        dataType: "json",
                        data: { idRole: dataId },
                        success: function (data) {
                            if (data.success == true) {
                                $.each(data.item, function (x, y) {
                                    var idModel = data.item[x].mMenuId;
                                    if ($("#modal-input").find("#" + idModel).val() == idModel) {
                                        $("#modal-input").find("#" + idModel).attr('checked', 'checked');
                                    }
                                })
                            }
                        }
                    });
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Edit Menu Access");
                    $("#modal-input").modal('show');
                }
            });
        });


        //Hapus Data
        $("#list-data").on("click", "#btn-delete", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Delete","MenuAccess")",
                type: "get",
                dataType: "html",
                data: { id: dataId },
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("delete data Menu Access");
                    $("#modal-input").modal('show');
                }
            });
        });

        //Detail
        $("#list-data").on("click", "#btn-view", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Detail","MenuAccess")",
                type: "get",
                dataType: "html",
                data: { id: dataId },
                success: function (hasil) {
                    $.ajax({
                        url: "@Url.Action("cariId","MenuAccess")",
                        type: "get",
                        dataType: "json",
                        data: { idRole: dataId },
                        success: function (data) {
                            if (data.success == true) {
                                $.each(data.item, function (x, y) {
                                    var idModel = data.item[x].mMenuId;
                                    if ($("#modal-input").find("#" + idModel).val() == idModel) {
                                        $("#modal-input").find("#" + idModel).attr('checked', 'checked');
                                    }
                                })
                            }
                        }
                    });
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("delete data Menu Access");
                    $("#modal-input").modal('show');
                }
            });
        });
    </script>


}