﻿@model Marcomm.ViewModel.MenuViewModel
@{
    ViewBag.Title = "Add";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.isDelete, new { Value = false })
    @Html.HiddenFor(x => x.createdDate, new { Value = DateTime.Now })
    @Html.HiddenFor(x => x.createdBy, new { Value = Session["Role"] })
    @Html.HiddenFor(x => x.Code, new { Value = "code" })
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.Code)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @disabled = "disabled", @placeholder = "Auto Generated" })
                @Html.ValidationMessageFor(x => x.Code, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.name)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.name, new { @class = "form-control", @placeholder = "Type Menu Name" })
                @Html.ValidationMessageFor(x => x.name, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.controller)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.controller, new { @class = "form-control", @placeholder = "Type Controller" })
                @Html.ValidationMessageFor(x => x.controller, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.parentId)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.parentId,
                (IEnumerable<SelectListItem>)ViewBag.ListMenu,
                "-Select Menu-",
                new{@class="form-control"})
                @Html.ValidationMessageFor(x => x.parentId, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    <a id="btn-cancel" class="btn btn-warning btn-sm">Cancel</a>
                </div>
            </div>
        </div>
}

@Scripts.Render("~/bundles/jqueryval")

