﻿@model Marcomm.ViewModel.MenuViewModel
@{
    ViewBag.Title = "Delete";
}
<table>
    <tr>
        <td width="3">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.Code)
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            }
        </td>
        <td>
            <button id="btn-cancel" class="btn btn-warning btn-sm">Cancel</button>
        </td>
    </tr>
</table>

