﻿@model Marcomm.ViewModel.MenuViewModel
@{
    ViewBag.Title = "Detail";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.isDelete, new { Value = false })
    @Html.HiddenFor(x => x.createdDate, new { Value = DateTime.Now })
    @Html.HiddenFor(x => x.Id)
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.Code)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @disabled = "disabled", Value = @Model.Code })
                @Html.ValidationMessageFor(x => x.Code, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.name)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.name, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(x => x.name, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.controller)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.controller, new { @class = "form-control", @disabled = "disabled", @placeholder = "Controller Name" })
                @Html.ValidationMessageFor(x => x.controller, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.parentId)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.parentId, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(x => x.parentId, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <a id="btn-cancel" class="btn btn-warning btn-sm">Close</a>
            </div>
        </div>
    </div>
}







