﻿@model IEnumerable<Marcomm.ViewModel.MenuViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="box box-primary box-solid">
    <div class="box-header">
        <div class="box-title">List Menu</div>
    </div>
    <div class="box-body">
        <ol class="breadcrumb">
            <li>Home</li>
            <li>Master</li>
            <li>Menu</li>
        </ol>
        <div id="alert-box">

        </div>
        <table class="table table-bordered table-responsive table-striped" id="list-role">
            <thead id="tb-input">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="btn btn-primary btn-sm" id="btn-add"><i class="glyphicon glyphicon-plus"></i> Add </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.TextBox("code", null, new { @class = "form-control column_filter", @id = "col1_filter", @data = "1", @placeholder = "Code" })</td>
                    <td>@Html.TextBox("name", null, new { @class = "form-control column_filter", @id = "col2_filter", @data = "2", @placeholder = "Menu Name" })</td>
                    <td colspan="1">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="datepicker form-control column_filter" id="col3_filter" data="3" , placeholder="Created Date" />
                        </div>
                    </td>
                    <td>@Html.TextBox("createdBy", null, new { @class = "form-control column_filter", @id = "col4_filter", @data = "4", @placeholder = "Created By" })</td>
                    <td>
                        <button class="btn btn-primary btn-sm" id="btn-search"><i class="glyphicon glyphicon-search"></i> Search </button>
                    </td>
                </tr>
                <tr>
                    <th>No</th>
                    <th>@Html.DisplayNameFor(x => x.Code)</th>
                    <th>@Html.DisplayNameFor(x => x.name)</th>
                    <th>@Html.DisplayNameFor(x => x.createdDate)</th>
                    <th>@Html.DisplayNameFor(x => x.createdBy)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="list-data">
                @Html.Partial("List", Model)
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-input">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modal-title">Modal Header</h3>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#list-role").DataTable({
                'sDom': 'tip',
                ordering: false
            });
            $("#tb-input").find(".column_filter").on("keyup click", function () {
                filtercolumn($(this).attr("data-column"));
            });
        });

        function filtercolumn(i) {
            $("#list-role").DataTable().column(i).search(
                $("#col" + i + "_filter").val()
                ).draw();
        };

        $("#btn-search").click(function () {
            $("#tb-input .form-control").each(function () {
                filtercolumn($(this).attr('data'));
            });
        });

        $("#tb-input").find(".datepicker").datepicker({
            Format: "MM/dd/yyyy",
            autoclose: true
        });
        function loadData() {
            $.ajax({
                url: "@Url.Action("List", "Menu")",
                type: "get",
                dataType: "html",
                success: function (hasil) {
                    $("#list-data").html(hasil);
                }
            });
        }

        //ADD Get, menampilkan Add di dalam modal-input
        $("#btn-add").click(function () {
            $.ajax({
                url: "@Url.Action("Add", "Menu")",
                type: "get",
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Add User");
                    $("#modal-input").modal('show');
                }
            });
        });

        //untuk cancel
        $("#modal-input").on("click", "#btn-cancel", function () {
            $("#modal-input").modal('hide');
        });

        //Untuk submit data melalui form Add, action Add
        $("#modal-input").on("submit", "form", function () {
            var dataURL = $(this).attr("action");
            var dataMethod = $(this).attr("method");
            var dataItem = $(this).serialize();

            $.ajax({
                url: dataURL,
                type: dataMethod,
                data: dataItem,
                dataType: "json",
                success: function (hasil) {
                    if (hasil.success) {
                        if (hasil.action == "add") {
                            var response = "<div class='callout callout-info' id='alert'><strong>Data Saved!</strong> New Menu has been add with code <strong>" + hasil.code + "</strong></div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        } else if (hasil.action == "edit") {
                            var response = "<div class='callout callout-info' id='alert'><strong>Data Updated!</strong> Data menu has been updated</div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        } else if (hasil.action == "delete") {
                            var response = "<div class='callout callout-info' id='alert'><strong>Data Deleted!</strong> Data with code " + hasil.code + " has been Deleted!</div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        }
                        loadData();
                        $("#modal-input").modal('hide');
                    } else if (hasil.exist) {
                        alert(hasil.message);
                    }
                    else {
                        $("#modal-body").html(hasil);
                    }
                }
            });
            return false;
        });

        //Edit data
        $("#list-data").on("click", "#btn-edit", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Edit", "Menu")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Edit User ");
                    $("#modal-input").modal('show');
                }
            });
        });

        //Hapus data
        $("#list-data").on("click", "#btn-delete", function () {
            var dataId = $(this).val();

            $.ajax({
                url: "@Url.Action("Delete", "Menu")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Anda Yakin Menghapus Data ini ?");
                    $("#modal-input").modal('show');
                }
            });
        });

        //data detail
        $("#list-data").on("click", "#btn-view", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Detail", "Menu")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Data Detail");
                    $("#modal-input").modal('show');
                }
            });
        });
    </script>
}
