﻿@model Marcomm.ViewModel.SouvenirViewModel
@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm("Add", "Souvenir", FormMethod.Post, new { @id = "form" }))
{
    @Html.HiddenFor(x => x.isDelete, new { Value = false })
    @Html.HiddenFor(x => x.createdBy, new { Value = "Admin" })
    @*@Html.HiddenFor(x => x.quantity, new { Value = "100" })*@
    <div class="form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.code, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.code, new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationMessageFor(x => x.code, null, new { @class = "text-danger" })

                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(x => x.name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.name, null, new { @class = "text-danger" })

                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.mUnitName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(x => x.mUnitId, (IEnumerable<SelectListItem>)ViewBag.ListUnit, "- Select Unit Name -", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.mUnitId, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.description, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.description, null, new { @class = "text-danger" })

                </div>
            </div>

        </div>



        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                <a id="btn-cancel" class="btn btn-warning btn-sm">Cancel</a>
            </div>
        </div>

    </div>
}
@Scripts.Render("~/bundles/jqueryval")
