﻿@model IEnumerable<Marcomm.ViewModel.SouvenirViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="box box-primary box-solid">
    <div class="box-header">
        <div class="box-title">List Souvenir</div>
    </div>
</div>

<div class="box-body">
    <ol class="breadcrumb">
        <li>Home</li>
        <li>Master</li>
        <li>List Souvenir</li>
    </ol>
</div>

<table class="table table-bordered table-responsive table-striped" id="list-role">
    <thead id="tb-input">
        <tr>
            <td colspan="5"></td>
            <td>
                <button type="button" class="btn btn-primary col-md-5" id="btn-add">Add</button>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>@Html.TextBox("code", "", new { @class = "form-control column-filter", @id = "col1_filter", @data = "1", @placeholder = "Souvenir Code" })</td>
            <td>@Html.TextBox("name", "", new { @class = "form-control column-filter", @id = "col2_filter", @data = "2", @placeholder = "Souvenir Name" })</td>
            <td>@Html.DropDownList("mUnitId", (IEnumerable<SelectListItem>)ViewBag.ListUnit, "- Select Unit Name -", new { @class = "form-control column-filter", @id = "col3_filter", @data = "3" })</td>
            <td>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="datepicker form-control column_filter" id="col4_filter" data="4" placeholder="Created" />
                </div>
            </td>
            <td>@Html.TextBox("createdBy", "", new { @class = "form-control column-filter", @id = "col5_filter", @data = "5", @placeholder = "Created By" })</td>
            <td>
                <button class="btn btn-warning" id="btn-src">Search</button>
            </td>
        </tr>
        <tr>
            <th>No.</th>
            <th>@Html.DisplayNameFor(x => x.code)</th>
            <th>@Html.DisplayNameFor(x => x.name)</th>
            <th>@Html.DisplayNameFor(x => x.mUnitName)</th>
            <th>@Html.DisplayNameFor(x => x.createdDate)</th>
            <th>@Html.DisplayNameFor(x => x.createdBy)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="list-data">
        @Html.Partial("List", Model)
    </tbody>
</table>


<div class="modal fade" id="modal-input">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modal-title">Modal Header</h3>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function loadData() {
            $.ajax({
                url: "@Url.Action("List","Souvenir")",
                type: "get",
                dataType: "html",
                success: function (x) {
                    $("#list-data").html(x);
                }
            });
        };

        $(document).ready(function () {
            $("#list-role").DataTable({
                'sDom': 'tip',
                ordering: false
            });
            $("#tb-input").find(".column_filter").on("keyup click", function () {
                filtercolumn($(this).attr("data-column"));
            });
        });

        function filtercolumn(i) {
            $("#list-role").DataTable().column(i).search(
                $("#col" + i + "_filter").val()
                ).draw();
        };

        $("#btn-src").click(function () {
            $("#tb-input .form-control").each(function () {
                filtercolumn($(this).attr('data'));
            });
        });

        $("#tb-input").find(".datepicker").datepicker({
            Format: "MM/dd/yyyy",
            autoclose: true
        });
        //ADD Get, menampilkan Add di dalam modal-input
        $("#btn-add").click(function () {
            $.ajax({
                url: "@Url.Action("Add", "Souvenir")",
                type: "get",
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Add Souvenir");
                    $("#modal-input").modal('show');
                }
            });
        });

        //untuk cancel
        $("#modal-input").on("click", "#btn-cancel", function () {
            $("#modal-input").modal('hide');
        });

        //Untuk submit data melalui form Add, action Add
        $("#modal-input").on("submit", "form", function () {
            var dataURL = $(this).attr("action");
            var dataMethod = $(this).attr("method");
            var dataItem = $(this).serialize();

            $.ajax({
                url: dataURL,
                type: dataMethod,
                data: dataItem,
                dataType: "json",
                success: function (hasil) {
                    if (hasil.success) {
                        loadData();
                        $("#modal-input").modal('hide');
                    } else {
                        $("#modal-body").html(hasil);
                    }
                }
            });
            return false;
        });

        //Edit data
        $("#list-data").on("click", "#btn-edit", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Edit", "Souvenir")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Edit Souvenir");
                    $("#modal-input").modal('show');
                }
            });
        });

        //Hapus data
        $("#list-data").on("click", "#btn-delete", function () {
            var dataId = $(this).val();

            $.ajax({
                url: "@Url.Action("Delete", "Souvenir")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Delete Data?");
                    $("#modal-input").modal('show');
                }
            });
        });

        //data detail
        $("#list-data").on("click", "#btn-view", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Detail", "Souvenir")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("View Souvenir");
                    $("#modal-input").modal('show');
                }
            });
        });
    </script>
}

