﻿@model Marcomm.ViewModel.EventViewModel
@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm())
{

    @*/* var User = (Marcomm.ViewModel.UserViewModel)*/
    //Session["User"];
    // ViewBag.EmployeeName = User.mEmployeeName;
   <input value=@User.mEmployeeId type="text" name="requestBy" />
    <input value=@User.mEmployeeName type="text" name="createdBy"/>
   //@Html.TextBoxFor(x => x.createdBy, User.mEmployeeName);*@
    <div class="box box-primary box-solid">
        <div class="box-header">
            <div class="box-title"><strong>Add Event</strong></div>
        </div>
        <div class="box-body">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.Label("Transaction Code")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.code, new { @class = "form-control", @readonly = true, id = "code", @placeholder = "Auto Generated" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.Label("Event Name")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.eventName, new { @class = "form-control", id = "name", @placeholder = "Type Event Name" })
                            @Html.ValidationMessageFor(x => x.eventName, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.place, "Event Place")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.place, new { @class = "form-control", @placeholder = "Type Event Place" })
                            @Html.ValidationMessageFor(x => x.place, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.startDate, "Event Start Date")
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(x => x.startDate, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Select Date" } })
                            @Html.ValidationMessageFor(x => x.startDate, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.endDate, "Event End Date")
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(x => x.endDate, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Select Date" } })
                            @Html.ValidationMessageFor(x => x.endDate, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.budget, "Budget (Rp.)")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.budget, new { @class = "form-control", @placeholder = "Event Budget" })
                            @Html.ValidationMessageFor(x => x.budget, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.Label("Request By")
                        </div>
                        <div class="col-md-8">
                            <input type="text" value="" disabled="disabled" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.request_date, "Request Date")
                        </div>
                        <div class="col-md-8">
                            <input type="text" value="" disabled="disabled"/>
                            @Html.ValidationMessageFor(x => x.request_date, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.note, "Note")
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(x => x.note, new { @class = "form-control", @placeholder = "Type Note" })
                            @Html.ValidationMessageFor(x => x.note, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary btn-sm">Simpan</button>
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-sm" })
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script>
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        orientation: 'left-bottom',
        autoclose:true
    });
</script>




