﻿@model Marcomm.ViewModel.EventViewModel
@{
    ViewBag.Title = "Approve";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.id)
    //<input value=@Session["employeeid"] type="hidden" name="approvedBy" />
    <div class="box box-primary box-solid">
        <div class="box-header">
            <div class="box-title"><strong>Edit Event - @Model.eventName (@Model.code) </strong></div>
        </div>
        <div class="box-body">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.Label("Transaction Code")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.code, new { @class = "form-control", @readonly = true, id = "code" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.Label("Event Name")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.eventName, new { @class = "form-control", id = "name", @readonly = true })
                            @Html.ValidationMessageFor(x => x.eventName, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.place, "Event Place")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.place, new { @class = "form-control", @readonly = true })
                            @Html.ValidationMessageFor(x => x.place, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.startDate, "Event Start Date")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.startDate, new { @class = "form-control date datepicker", @readonly = true })
                            @Html.ValidationMessageFor(x => x.startDate, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.endDate, "Event End Date")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.endDate, new { @class = "form-control date datepicker", @readonly = true })
                            @Html.ValidationMessageFor(x => x.endDate, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.budget, "Budget (Rp.)")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.budget, new { @class = "form-control", @readonly = true })
                            @Html.ValidationMessageFor(x => x.budget, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.assignTo, "Assign To")
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.assignTo, (IEnumerable<SelectListItem>)ViewBag.ListAssign,
                                "Select Employee",
                                new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(x => x.assignTo, null, new { @class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.Label("Request By")
                        </div>
                        <div class="col-md-8">
                            <input type="text" value="" disabled="disabled" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.request_date, "Request Date")
                        </div>
                        <div class="col-md-8">
                            <input type="text" value="" disabled="disabled" />
                            @Html.ValidationMessageFor(x => x.request_date, null, new { @class = "text-danger", @readonly = true })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.note, "Note")
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(x => x.note, new { @class = "form-control",@readonly="readonly" })
                            @Html.ValidationMessageFor(x => x.note, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            @Html.LabelFor(x => x.namaStatus, "Status")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.namaStatus, new { @class = "form-control", @readonly = true })
                            @Html.ValidationMessageFor(x => x.namaStatus, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-10 col-md-offset-2">
                    <button type="button" class="btn btn-primary btn-sm" id="btn-cls">Close Request</button>
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-sm" })
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-close">
        <div class="modal-dialog modal-sm" Event="dialog">
            <div class="modal-content">
                <div class="box box-primary box-solid">
                    <div class="box-header">
                        <div class="box-title"><strong>Close Request</strong></div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-primary btn-sm">Yes</button>
                            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script>
    $("#btn-cls").click(function () {
        $("#modal-close").modal('show');
    });
</script>




