﻿@model IEnumerable<Marcomm.ViewModel.EventViewModel>

<div class=" box box-primary box-solid">
    <div class="box-header">
        <div class="box-title">List Event Request</div>
    </div>
    <div class="box-body">
        <ol class="breadcrumb">
            <li>Home</li>
            <li>Transaksi</li>
            <li>List Event Request</li>
        </ol>
        <div id="alert-box">

        </div>
        <table class="table" id="list-Event">
            <thead id="tb-input">
                <tr>
                    <td colspan="7"></td>
                    <td><button class="btn btn-primary btn-sm col-sm-6" id="btn-add">Add</button></td>
                </tr>
                <tr id="tb-input">
                    @*@using (Html.BeginForm("Search", "Event", FormMethod.Post, new { @id = "form-search" }))
                        {*@
                    <td width="250px" colspan="2">
                        @Html.TextBox("code", "", new
                   {
                       @class = "form-control col-sm-8",
                       @placeholder = "-Select Event Code -",
                       @data = 1,
                       @id = "col1-filter"
                   })
                    </td>
                    <td width="200px">
                        @Html.TextBox("requestBy", "", new
                   {
                       @class = "form-control col-sm-8",
                       @placeholder = "- Select Request By -",
                       @data = 2,
                       @id = "col2-filter"
                   })
                    </td>
                    <td width="250px">
                        <div class="input-group">
                            @Html.TextBox("requestDate", "", new { @class = "form-control datepicker", @placeholder = "- Request -", @data = 3, @id = "col3-filter" })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </td>
                    <td>
                        @Html.TextBox("status", "", new { @class = "form-control", @placeholder = "- Status -", @data = 4, @id = "col4-filter" })
                    </td>
                    <td width="300px">
                        <div class="input-group">
                            @Html.TextBox("createdDate", "", new { @class = "form-control datepicker", @placeholder = "- Created -", @data = 5, @id = "col5-filter" })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </td>
                    <td width="150px">
                        @Html.TextBox("createdBy", "", new { @class = "form-control", @placeholder = "- Created By -", @data = 6, @id = "col6-filter" })
                    </td>
                    <td width="150px"><button class="btn btn-warning btn-sm col-sm-6" id="btn-search">Search</button></td>
                    @*}*@
                </tr>
                <tr>
                    <th>No.</th>
                    <th>Transaction Code</th>
                    <th>Request By</th>
                    <th>Request Date</th>
                    <th>Status</th>
                    <th>Created Date</th>
                    <th>Created By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="list-data">
                @Html.Partial("List", Model)
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal-input">
    <div class="modal-dialog modal-lg" Event="dialog">
        <div class="modal-content">
            <div class="box box-primary box-solid">
                @*<div class="box-header">
                        <div class="box-title"><strong>Add Event</strong></div>
                    </div>*@
                <div class="modal-body" id="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-reject">
    <div class="modal-dialog modal-sm" Event="dialog">
        <div class="modal-content">
            <div class="box box-primary box-solid">
                <div class="box-header">
                    <div class="box-title"><strong>Reject Reason</strong></div>
                </div>
                <div class="box-body" id="modal-body-reject">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function loadData() {
            $.ajax({
                url: "@Url.Action("List", "Event")",
                type: "get",
                dataType: "html",
                success: function (hasil) {
                    $("#list-data").html(hasil);
                }
            });
        }
        //table
        $(document).ready(function () {
            $("#list-Event").DataTable({
                "sDom": "tip",
                ordering: false
            });
        });

        $("#btn-search").click(function () {
            $("#tb-input .form-control").each(function (i) {
                filterColumn($(this).attr("data"));
            });
        });

        function filterColumn(i) {
            $("#list-Event").DataTable().column(i).search(
                $("#col" + i + "-filter").val()
                ).draw();

        }


        //reject
        $("#modal-input").on("click", "#btn-reject", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Rejected", "Event")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body-reject").html(hasil);
                    $("#modal-reject").modal('show');
                }
            });
        });

        //reject post
        $("#modal-reject").on("submit", "form", function () {
            var dataURL = $(this).attr("action");
            var dataMethod = $(this).attr("method");
            var dataItem = $(this).serialize();
            $.ajax({
                url: dataURL,
                type: dataMethod,
                data: dataItem,
                dataType: "json",
                success: function (hasil) {
                    if (hasil.success == true) {
                        if (hasil.from == "reject") {
                            $("#modal-reject").modal('hide');
                            $("#modal-input").modal('hide');
                            loadData();
                            var response = "<div class='callout callout-danger' id='alert'><strong>Data Rejected!</strong> Data Event with Event code <strong>" + hasil.code + "</strong> has been rejected</div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        }
                    }
                    else {
                        $("#modal-body").html(hasil);
                    }
                }
            });
            return false;
        });


        //ADD Get, menampilkan Add di dalam modal-input
        $("#btn-add").click(function () {
            $.ajax({
                url: "@Url.Action("Add", "Event")",
                type: "get",
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    //$("#modal-title").html("Add Event");
                    $("#modal-input").modal('show');
                }
            });
        });

        //Approv Get
        $("#list-data").on("click", "#btn-appr", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Approve", "Event")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-input").modal('show');
                }
            });
        });

        //Close Get
        $("#list-data").on("click", "#btn-close", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Close", "Event")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-input").modal('show');
                }
            });
        });

        //Untuk submit data melalui form Add, action Add
        $("#modal-input").on("submit", "form", function () {
            var dataURL = $(this).attr("action");
            var dataMethod = $(this).attr("method");
            var dataItem = $(this).serialize();
            $.ajax({
                url: dataURL,
                type: dataMethod,
                data: dataItem,
                dataType: "json",
                success: function (hasil) {
                    if (hasil.success == true) {
                        if (hasil.from == "add") {
                            $("#modal-input").modal('hide');
                            loadData();
                            var response = "<div class='callout callout-info' id='alert'><strong>Data Saved!</strong> New Event has been add with Event code <strong>" + hasil.code + "</strong></div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        } else if (hasil.from == "edit") {
                            $("#modal-input").modal('hide');
                            loadData();
                            var response = "<div class='callout callout-info' id='alert'><strong>Data Updated!</strong> Data Event with Event code <strong>" + hasil.code + "</strong> has been updated</div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        } else if (hasil.from == "approve") {
                            $("#modal-input").modal('hide');
                            loadData();
                            var response = "<div class='callout callout-info' id='alert'><strong>Data Approved!</strong> Data Event with Event code <strong>" + hasil.code + "</strong> has been Approved</div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        } else if (hasil.from == "close") {
                            $("#modal-close").modal('hide');
                            $("#modal-input").modal('hide');
                            loadData();
                            var response = "<div class='callout callout-info' id='alert'><strong>Data Closed!</strong> Data Event with Event code <strong>" + hasil.code + "</strong> has been Closed</div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        }
                        else if (hasil.from == "delete") {
                            $("#modal-input").modal('hide');
                            loadData();
                            var response = "<div class='callout callout-danger' id='alert'><strong>Data Deleted!</strong> Data Event with Event code <strong>" + hasil.code + "</strong> has been deleted</div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        } else if (hasil.from == "rejected") {
                            $("#modal-input").modal('hide');
                            loadData();
                            var response = "<div class='callout callout-danger' id='alert'><strong>Data Rejected!</strong> Data Event with Event code <strong>" + hasil.code + "</strong> has been rejected</div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        }
                    } else if (hasil.success == "date") {
                        var response = "End date greater than start date!";
                        alert(response);
                    }
                    else {
                        $("#modal-body").html(hasil);
                    }
                }
            });
            return false;
        });

        //Searchform-search
        $("#form-search").submit(function () {
            //alert("Tes");
            var dataURL = $(this).attr("action");
            var dataMethod = $(this).attr("method");
            var dataItem = $(this).serialize();
            $.ajax({
                url: dataUrl,
                type: dataMethod,
                dataType: "html",
                data: dataItem,
                success: function (hasil) {
                    $("#list-data").html(hasil);
                    return false;
                }
            });
            return false;
        });


        //Edit data
        $("#list-data").on("click", "#btn-edit", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Edit", "Event")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    //$("#modal-title").html("Edit Data Event");
                    $("#modal-input").modal('show');
                }
            });
        });

        //Hapus data
        $("#list-data").on("click", "#btn-delete", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Delete", "Event")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Delete Data ?");
                    $("#modal-input").modal('show');
                }
            });
        });

        //data detail
        $("#list-data").on("click", "#btn-view", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Details", "Event")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Data Detail");
                    $("#modal-input").modal('show');
                }
            });
        });


        //datepicker
        
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            orientation: 'left-bottom',
            autoclose:true
        });

        //focusout
        //$("#modal-input").find("#name").on("click", function () {
        //    alert("Salah");
        //});

        //function coba() {
        //    var cek = $("#modal-input").find("#name").val();
        //    alert(cek);
        //};

    </script>
}
@Scripts.Render("~/bundles/jqueryval")





