﻿@model IEnumerable<Marcomm.ViewModel.EventViewModel>
@using Microsoft.AspNet.Identity;
@{
    int i = 0;
}
@foreach (var item in Model)
{
    i = i + 1;
    var User = (Marcomm.ViewModel.UserViewModel)Session["User"];
    //convert date to string
    string strdate = item.createdDate.HasValue ? item.createdDate.Value.ToString("dd/MM/yyyy") : string.Empty;
    string strrq = item.request_date.HasValue ? item.request_date.Value.ToString("dd/MM/yyyy") : string.Empty;
    <tr>
        <td>@i.</td>
        <td>@item.code</td>
        <td>@item.namaEmployee</td>
        <td>@strrq</td>
        <td>@item.namaStatus</td>
        <td>@strdate</td>
        <td>@item.namaEmployee</td>
        <td>
            <button class="btn" id="btn-view" value="@item.id">
                <i class="glyphicon glyphicon-search"></i>
            </button>

            @if (item.namaStatus == "Submitted")
            {
                <button class="btn" id="btn-edit" value="@item.id">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
            }

            @if (item.namaStatus == "Submitted")
            {
                if (User.mRoleName == "Administrator")
                {
                    <button class="btn" id="btn-appr" value="@item.id">
                        <i class="glyphicon glyphicon-new-window"></i>
                    </button>
                }

            }
            else if (@item.namaStatus == "In Progress")
            {
                if (@item.assignTo == User.mEmployeeId)
                {
                    <button class="btn" id="btn-close" value="@item.id">
                        <i class="glyphicon glyphicon-copyright-mark"></i>
                    </button>
                }
            }

        </td>
    </tr>
}

