﻿@model Marcomm.ViewModel.EventViewModel
@{
    ViewBag.Title = "Rejected";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextAreaFor(x => x.rejectReason, new { @class = "form-control", @placeholder = "Input Reason" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-danger btn-sm" id="btn-reject-post">Reject</button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm">Cancel</button>
        </div>
    </div>
}