﻿@model Marcomm.ViewModel.RoleViewModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.id)
    <div class="box box-primary box-solid">
        <div class="box-header">
            <div class="box-title"><strong>Edit Role - @Model.name (@Model.code) </strong></div>
        </div>
        <div class="box-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-4 control-label">
                        @Html.Label("*Role Code")
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.code, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(x => x.code, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 control-label">
                        @Html.Label("*Role Name")
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.name, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 control-label">
                        @Html.LabelFor(x => x.description, "Description")
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.description, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit" class="btn btn-primary btn-sm">Simpan</button>
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-sm" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")





