﻿@model IEnumerable<Marcomm.ViewModel.RoleViewModel>

<div class=" box box-primary box-solid">
    <div class="box-header">
        <div class="box-title">List Role</div>
    </div>
    <div class="box-body">
        <ol class="breadcrumb">
            <li>Home</li>
            <li>Master</li>
            <li>Role</li>
        </ol>
        <div id="alert-box">

        </div>
        <table class="table" id="list-role">
            <thead id="tb-input">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-primary btn-sm col-sm-6" id="btn-add">Add</button></td>
                </tr>
                <tr id="tb-input">
                    @*@using (Html.BeginForm("Search", "Role", FormMethod.Post, new { @id = "form-search" }))
                        {*@
                    <td width="250px" colspan="2">
                        @Html.TextBox("code", "", new
                   {
                       @class = "form-control col-sm-8",
                       @placeholder = "-Select Role Code -",
                       @data = 1,
                       @id = "col1-filter"
                   })
                    </td>
                    <td width="250px">
                        @Html.TextBox("name", "", new
                   {
                       @class = "form-control col-sm-8",
                       @placeholder = "- Select Role Name -",
                       @data = 2,
                       @id = "col2-filter"
                   })
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBox("createdDate", "", new { @class = "form-control date datepicker", @placeholder = "- Date -", @data = 3, @id = "col3-filter" })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </td>
                    <td>
                        @Html.TextBox("createdBy", "", new { @class = "form-control", @placeholder = "- Created By -", @data = 4, @id = "col4-filter" })
                    </td>
                    <td width="200px"><button class="btn btn-warning btn-sm col-sm-6" id="btn-search">Search</button></td>
                    @*}*@
                </tr>
                <tr>
                    <th>No.</th>
                    <th>Role Code</th>
                    <th>Role Name</th>
                    <th>Created Date</th>
                    <th>Created By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="list-data">
                @Html.Partial("List", Model)
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal-input">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            @*<div class="modal-header">
                <h3 id="modal-title">Modal Header</h3>
            </div>*@
            <div class="modal-body" id="modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function loadData() {
            $.ajax({
                url: "@Url.Action("List", "Role")",
                type: "get",
                dataType: "html",
                success: function (hasil) {
                    $("#list-data").html(hasil);
                }
            });
        }
        //table
        $(document).ready(function () {
            $("#list-role").DataTable({
                "sDom": "tip",
                ordering: false
            });
        });

        $("#btn-search").click(function () {
            $("#tb-input .form-control").each(function (i) {
                filterColumn($(this).attr("data"));
            });
        });

        function filterColumn(i) {
            $("#list-role").DataTable().column(i).search(
                $("#col" + i + "-filter").val()
                ).draw();

        }

        //ADD Get, menampilkan Add di dalam modal-input
        $("#btn-add").click(function () {
            $.ajax({
                url: "@Url.Action("Add", "Role")",
                type: "get",
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Add Role");
                    $("#modal-input").modal('show');
                }
            });
        });

        //Untuk submit data melalui form Add, action Add
        $("#modal-input").on("submit", "form", function () {
            var dataURL = $(this).attr("action");
            var dataMethod = $(this).attr("method");
            var dataItem = $(this).serialize();
            $.ajax({
                url: dataURL,
                type: dataMethod,
                data: dataItem,
                dataType: "json",
                success: function (hasil) {
                    if (hasil.success==true) {
                        if (hasil.from == "add") {
                            $("#modal-input").modal('hide');
                            loadData();
                            var response = "<div class='callout callout-info' id='alert'><strong>Data Saved!</strong> New role has been add with role code <strong>" + hasil.code + "</strong></div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        } else if (hasil.from == "edit") {
                            $("#modal-input").modal('hide');
                            loadData();
                            var response = "<div class='callout callout-info' id='alert'><strong>Data Updated!</strong> Data role with role code <strong>" + hasil.code + "</strong> has been updated</div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        } else if (hasil.from == "delete") {
                            $("#modal-input").modal('hide');
                            loadData();
                            var response = "<div class='callout callout-danger' id='alert'><strong>Data Deleted!</strong> Data role with role code <strong>"+hasil.code+"</strong> has been deleted</div>";
                            $("#alert-box").append(response);
                            $("#alert-box").find("#alert").fadeOut(7000, function () {
                                $("#alert-box").find("#alert").remove();
                            });
                        }
                    } else if (hasil.success == "ada") {
                        var response = "Data with name " + hasil.name + " is already exist!";
                        alert(response);
                    } else if (hasil.success == "kembali") {
                        $("#modal-input").modal('hide');
                        loadData();
                        var response = "<div class='callout callout-info' id='alert'><strong>Data Actived!</strong> Data role with role name <strong>" + hasil.name + "</strong> has been actived</div>";
                        $("#alert-box").append(response);
                        $("#alert-box").find("#alert").fadeOut(7000, function () {
                            $("#alert-box").find("#alert").remove();
                        });
                    }
                    else {
                        $("#modal-body").html(hasil);
                    }
                }
            });
            return false;
        });

        //Searchform-search
        $("#form-search").submit(function () {
            //alert("Tes");
            var dataURL = $(this).attr("action");
            var dataMethod = $(this).attr("method");
            var dataItem = $(this).serialize();
            $.ajax({
                url: dataUrl,
                type: dataMethod,
                dataType: "html",
                data: dataItem,
                success: function (hasil) {
                    $("#list-data").html(hasil);
                    return false;
                }
            });
            return false;
        });


        //Edit data
        $("#list-data").on("click", "#btn-edit", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Edit", "Role")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    //$("#modal-title").html("Edit Data Role");
                    $("#modal-input").modal('show');
                }
            });
        });

        //Hapus data
        $("#list-data").on("click", "#btn-delete", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Delete", "Role")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Delete Data ?");
                    $("#modal-input").modal('show');
                }
            });
        });

        //data detail
        $("#list-data").on("click", "#btn-view", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Details", "Role")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Data Detail");
                    $("#modal-input").modal('show');
                }
            });
        });


        //datepicker
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            orientation: 'left-bottom'
        });

        //focusout
        //$("#modal-input").find("#name").on("click", function () {
        //    alert("Salah");
        //});

        //function coba() {
        //    var cek = $("#modal-input").find("#name").val();
        //    alert(cek);
        //};

    </script>
}
@Scripts.Render("~/bundles/jqueryval")





