﻿@*@model ienumerable<marcomm.viewmodel.designviewmodel>
@{
    viewbag.title = "index";
}

<div class="box box-primary box-solid">
    <div class="box-header">
        <div class="box-title">list design request</div>
    </div>

    <div class="box-body">
        <ol class="breadcrumb">
            <li>home</li>
            <li>master</li>
            <li>list design request</li>
        </ol>

        <table class="table table-bordered table-responsive table-striped" id="list-role">
            <thead id="tb-input">
                <tr>
                    <td colspan="7"></td>
                    <td>
                        <button type="button" class="btn btn-primary col-md-7" id="btn-add">add</button>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>@html.textbox("code", "", new { @class = "form-control column-filter", @id = "col1_filter", @data = "1", @placeholder="transaction code" })</td>
                    <td>@html.textbox("requestby", "", new { @class = "form-control column-filter", @id = "col2_filter", @data = "2", @placeholder="request by" })</td>
                    <td>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="datepicker form-control column_filter" id="col3_filter" data="3" placeholder="request date" />
                        </div>
                    </td>
                    <td>@html.dropdownlist("name", (ienumerable<selectlistitem>)viewbag.listcompanyname, "- select company name -", new { @class = "form-control column-filter", @id = "col2_filter", @data = "2" })</td>
                    <td>@html.textbox("createdby", "", new { @class = "form-control column-filter", @id = "col4_filter", @data = "4", @placeholder = "created by" })</td>
                    <td>
                        <button type="button" class="btn btn-warning" id="btn-src">search</button>
                    </td>
                </tr>
                <tr>
                    <th>no.</th>
                    <th>@html.displaynamefor(x => x.code)</th>
                    <th>@html.displaynamefor(x => x.name)</th>
                    <th>@html.displaynamefor(x => x.createddate)</th>
                    <th>@html.displaynamefor(x => x.createdby)</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody id="list-data">
                @html.partial("list", model)
            </tbody>
        </table>
    </div>
</div>*@
