﻿@model Marcomm.ViewModel.LookUpViewModel
@{
    ViewBag.Title = "Add";
}
@using (Html.BeginForm())
{
    <div class="box box-primary box-solid">
        <div class="box-header">
            <div class="box-title"><strong>Add LookUp</strong></div>
        </div>
        <div class="box-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-4 control-label">
                        @Html.Label("LookUp Code")
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.code, new { @class = "form-control", id = "code" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 control-label">
                        @Html.Label("LookUp Name")
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.name, new { @class = "form-control", id = "name"})
                        @Html.ValidationMessageFor(x => x.name, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 control-label">
                        @Html.Label("LookUp Group")
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.groupby, new { @class = "form-control", id = "groupby" })
                        @Html.ValidationMessageFor(x => x.groupby, null, new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit" class="btn btn-primary btn-sm">Simpan</button>
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-sm" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
