﻿@model IEnumerable<Marcomm.ViewModel.LookUpViewModel>
@{
    ViewBag.Title = "List";
}

@{
    int i = 0;
}
@foreach (var item in Model)
{
    i = i + 1;
    <tr>
        <td>@i.</td>
        <td>@item.code</td>
        <td>@item.name</td>
        <td>@item.groupby</td>
        <td>
            <button class="btn btn-warning btn-xs" id="btn-edit" value="@item.id">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>

            <button class="btn btn-danger btn-xs" id="btn-delete" value="@item.id">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </td>
    </tr>
}
