﻿
@model Marcomm.ViewModel.EmployeeViewModel
@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.code)
            </div>
            <div class="col-md-10">
                @*@Html.TextBoxFor(x => x.code, new { @class = "form-control", @Readonly = "true", @id = "code" })*@
                <input type="text" id="code" name="code" data-inputmask='"mask":"99.99.99.99"' data-mask placeholder="Type Emp ID Numb"
                       class="form-control" onfocusout="cek()" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.firstName)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.firstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.firstName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.lastName)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.lastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.lastName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.mCompanyId)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.mCompanyId, (IEnumerable<SelectListItem>)ViewBag.Company, "=Select=", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.mCompanyId, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.email)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.email, null, new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-sm" })
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")

<script>
    $(function () {
        $('[data-mask]').inputmask()
    });
</script>
