﻿
@model Marcomm.ViewModel.EmployeeViewModel
@{
    ViewBag.Title = "Delete";
}

<table>
    <tr>
        <td>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.Id)
                <button class="btn btn-danger btn-sm">Hapus</button>
            }
        </td>
        <td>@Html.ActionLink("Batal", "Index", null, new { @class = "btn btn-primary btn-sm" })</td>
        <td></td>
    </tr>
</table>