﻿
@model Marcomm.ViewModel.EmployeeViewModel
@{
    ViewBag.Title = "Details";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.code)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.code, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.firstName)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.firstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.firstName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.lastName)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.lastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.lastName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.mCompanyId)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.companyName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.companyName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.email)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.email, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning btn-sm" })
            </div>
        </div>
    </div>
}