﻿
@model IEnumerable<Marcomm.ViewModel.EmployeeViewModel>
@{
}

<div class="box box-primary box-solid">
    <div class="box-header">
        <div class="box-title">List Employee</div>
    </div>
    <div class="box-title">
        <button class="btn btn-primary btn-sm" id="btn-add"><i class="glyphicon glyphicon-plus"></i> Add </button>

    </div>
    <div class="box-body">
        <ol class="breadcrumb">
            <li>Home</li>
            <li>Master</li>
            <li>Employee</li>
        </ol>
        <table class="table table-bordered table-responsive table-striped" id="list-role">
            <thead id="tb-input">
                <tr>
                    <td></td>
                    <td>@Html.TextBox("code", null, new { @class = "form-control column_filter", @id = "col1_filter", @data = "1" })</td>
                    <td>@Html.TextBox("fullName", null, new { @class = "form-control column_filter", @id = "col2_filter", @data = "2" })</td>
                    <td>@Html.DropDownList("mCompanyId", (IEnumerable<SelectListItem>)ViewBag.ListCompanyName, "==Select Company==", new { @class = "form-control column_filter", @id = "col3_filter", @data = "3" })</td>
                    <td>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="datepicker form-control column_filter" id="col4_filter" data="4" />
                        </div>
                    </td>
                    <td>@Html.TextBox("createdBy", null, new { @class = "form-control column_filter", @id = "col5_filter", @data = "5" })</td>
                    @*<td>@Html.TextBox("fullName", null, new { @class = "form-control column_filter", @id = "col2_filter", @data = "2" })</td>
                        <td>@Html.DropDownList("name", (IEnumerable<SelectListItem>)ViewBag.ListCompanyName,"=Select=", new { @class = "form-control column_filter", @id = "col3_filter", @data = "3" }) </td>*@
                    <td><button class="btn btn-primary btn-sm" id="btn-search"><i class="glyphicon glyphicon-search"></i> Search </button></td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(x => x.Id)</th>
                    <th>@Html.DisplayNameFor(x => x.code)</th>
                    <th>Name</th>
                    @*<th>@Html.DisplayNameFor(x => x.lastName)</th>*@
                    <th>@Html.DisplayNameFor(x => x.mCompanyId)</th>
                    <th>@Html.DisplayNameFor(x => x.createdDate)</th>
                    <th>@Html.DisplayNameFor(x => x.createdBy)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="list-data">
                @Html.Partial("List", Model)
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="modal-input">
    <div class="modal-dialog" Unit="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modal-title">Modal Header</h3>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#list-role").DataTable({
                'sDom': 'tip',
                ordering: false
            });
            $("#tb-input").find(".column_filter").on("keyup click", function () {
                filtercolumn($(this).attr("data-column"));
            });
        });

        function filtercolumn(i) {
            $("#list-role").DataTable().column(i).search(
                $("#col" + i + "_filter").val()
                ).draw();
        };

        $("#btn-search").click(function () {
            $("#tb-input .form-control").each(function () {
                filtercolumn($(this).attr('data'));
            });
        });

        $("#tb-input").find(".datepicker").datepicker({
            Format: "MM/dd/yyyy",
            autoclose: true
        });

        function loadData() {
            $.ajax({
                url: "@Url.Action("List", "Employee")",
                type: "get",
                dataType: "html",
                success: function (hasil) {
                    $("#list-data").html(hasil);
                }
            });
        }

        //ADD Get, menampilkan Add di dalam modal-input
        $("#btn-add").click(function () {
            $.ajax({
                url: "@Url.Action("Add", "Employee")",
                type: "get",
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Add Unit");
                    $("#modal-input").modal('show');
                }
            });
        });

        //Untuk submit data melalui form Add, action Add
        $("#modal-input").on("submit", "form", function () {
            var dataURL = $(this).attr("action");
            var dataMethod = $(this).attr("method");
            var dataItem = $(this).serialize();
            $.ajax({
                url: dataURL,
                type: dataMethod,
                data: dataItem,
                dataType: "json",
                success: function (hasil) {
                    if (hasil.success) {
                        $("#modal-input").modal('hide');
                        loadData();
                    } else {
                        $("#modal-body").html(hasil);
                    }
                }
            });
            return false;
        });

        //Edit data
        $("#list-data").on("click", "#btn-edit", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Edit", "Employee")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Edit Data Unit");
                    $("#modal-input").modal('show');
                }
            });
        });

        $("#modal-input").on("submit", "#formEdit", function () {
            var dataURL = $(this).attr("action");
            var dataMethod = $(this).attr("method");
            var dataItem = $(this).serialize();
            $.ajax({
                url: dataURL,
                type: dataMethod,
                data: dataItem,
                dataType: "json",
                success: function (hasil) {
                    if (hasil.success) {
                        $("#modal-input").modal('hide');
                        loadData();
                    } else {
                        $("#modal-body").html(hasil);
                    }
                }
            });
            return false;
        });

        //Hapus data
        @*$("#list-data").on("click", "#btn-delete", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Delete", "Employee")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Delete Data ?");
                    $("#modal-input").modal('show');
                }
            });
        });*@

        $("#list-data").on("click", "#btn-delete", function () {
            var id = $(this).val();
            $.ajax({
                url: "@Url.Action("panggil")",
                type: "get",
                dataType: "json",
                data: { id: id },
                success: function (x) {
                    swal({
                        title: 'Hapus Data' + x.data.fullName + "(" + x.data.code + ")",
                        text: "Are you sure?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: 'yes delete it',
                        cancelButtonColor: 'cancel',
                        reverseButtons: true
                    }).then((result) => {

                        if (result.value) {
                            $.ajax({
                                url: '/Employee/Delete/' + id,
                                type: "get",
                                dataType: "json",
                                success: function (x) {
                                    if (x.success == true) {
                                        swal(
                                          'deleted',
                                          'Your file is deleted :)',
                                          'success'
                                        );
                                    }
                                    loadData();

                                }
                            })

                        }
                        else if (result.dismiss === swal.DismissReason.cancel) {
                            swal(
                              'Cancelled',
                              'Your imaginary file is safe :)',
                              'error'
                            );
                        }
                    })
                }
            });
        });

        //data detail
        $("#list-data").on("click", "#btn-view", function () {
            var dataId = $(this).val();
            $.ajax({
                url: "@Url.Action("Details", "Employee")",
                type: "get",
                data: { id: dataId },
                dataType: "html",
                success: function (hasil) {
                    $("#modal-body").html(hasil);
                    $("#modal-title").html("Data Detail");
                    $("#modal-input").modal('show');
                }
            });
        });

        $(function () {
            $('[data-mask]').inputmask()
        });

        function cek() {
            var data = $("#modal-input").find("#code").val();
            var id = $("#modal-input").find("#Id").val();
            $.ajax({
                url: "@Url.Action("nama")",
                type: "get",
                datatype: "json",
                data: { nama: data, id: id },
                success: function (x) {
                    if (x.data == true) {
                        swal({
                            title: "Data Sudah Ada",
                            type: 'info',
                        });
                    }

                }
            });
            return false;
        };
    </script>
}