﻿@model IEnumerable<Marcomm.ViewModel.EmployeeViewModel>
@{
    ViewBag.Title = "List";
}
@{
    int i = 0;
}
@foreach (var item in Model)
{
    i = i + 1;
    <tr>
        <td>@i.</td>
        <td>@item.code</td>
        <td>@item.fullName</td>
        <td>@item.companyName</td>
        <td>@item.createdDate</td>
        <td>@item.createdBy</td>
        <td>
            <button class="btn btn-success btn-xs" id="btn-view" value="@item.Id">
                <i class="glyphicon glyphicon-eye-open"></i>
            </button>

            <button class="btn btn-warning btn-xs" id="btn-edit" value="@item.Id">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>

            <button class="btn btn-danger btn-xs" id="btn-delete" value="@item.Id">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </td>
    </tr>
}
