﻿@model Marcomm.ViewModel.UserViewModel
@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.isDelete, new { Value = false })
    //@Html.HiddenFor(x => x.createdBy, new { Value = "Admin" })
    @Html.HiddenFor(x => x.createdDate, new { Value = DateTime.Now })
    <input value="@Session["Role"]" type="hidden" name="createdBy"/>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.mRoleName)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.mRoleId,
                (IEnumerable<SelectListItem>)ViewBag.ListRole,
                "Select Role Name",
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.mRoleId, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.mEmployeeName)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.mEmployeeId,
                (IEnumerable<SelectListItem>)ViewBag.ListEmployee,
                "- Select Employee -",
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.mEmployeeId, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.username)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.username, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.username, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.password)
            </div>
            <div class="col-md-10">
                @Html.PasswordFor(x => x.password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.password, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.ConfirmPassword)
            </div>
            <div class="col-md-10">
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                <a id="btn-cancel" class="btn btn-warning btn-sm">Cancel</a>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

