﻿@model Marcomm.ViewModel.UserViewModel
@{
    ViewBag.Title = "Detail";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.isDelete, new { Value = false })
    @Html.HiddenFor(x => x.createdBy, new { Value = "Admin" })
    @Html.HiddenFor(x => x.createdDate, new { Value = DateTime.Now })
    @Html.HiddenFor(x => x.id)
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.mRoleName)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.mRoleName, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(x => x.mRoleId, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.mEmployeeName)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.mEmployeeName, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(x => x.mEmployeeId, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.username)
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.username, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(x => x.username, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.password)
            </div>
            <div class="col-md-10">
                @Html.PasswordFor(x => x.password, new { @class = "form-control", Value = @Model.password, @disabled = "disabled" })
                @Html.ValidationMessageFor(x => x.password, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                @Html.DisplayNameFor(x => x.ConfirmPassword)
            </div>
            <div class="col-md-10">
                @Html.PasswordFor(x => x.password, new { @class = "form-control", Value = @Model.password, @disabled = "disabled" })
                @Html.ValidationMessageFor(x => x.password, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <a id="btn-cancel" class="btn btn-warning btn-sm">Close</a>
            </div>
        </div>
    </div>
}


